.position{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px;
}

.relative{
    position: relative;
}

.title{ display: flex;
    justify-content: space-between;
}

.aptCard{
    width: 350px;
}

.button *{
    background-color: var(--blue-900);
    color: white;
}
.content{
    padding: 20px;
}