@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
  --blue-900: #233876;
  --blue-700: #1A56DB;
}

* {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  margin: 0px;
  padding: 0px;
}
